@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "~react-datepicker/dist/react-datepicker.css";
@import "./assets/scss/variables";
@import "./assets/scss/fonts";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fafafa;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  outline: none;
}

a {
  width: auto;
  font-weight: 500;
  color: $blue-3-rgba;
  position: relative;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.lined:after {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &.base {
    font-size: inherit;
    font-weight: inherit;
  }
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

// body::-webkit-scrollbar {
//     display: none;
// }

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-image-top {
  background-size: cover;
  background-position: top;
}

.hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 0 !important;
  height: 0 !important;
  pointer-events: none !important;
  display: none;
}

ul {
  padding: 0;

  li {
    list-style: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

svg {
  max-height: 100%;
  max-width: 100%;
}
