from typing import List, Optional

from sqlalchemy import insert, select, update, delete, bindparam, func, alias
from sqlalchemy.sql import Select
from sqlalchemy.sql.expression import and_
from sqlalchemy.orm import scoped_session

from infrastructure.models import (
    {{ class_prefix }}Model,
{%- for field in related_model_fields %}
    {{ field.prefix }}Model,
{%- endfor %}
)
from domain.auth.models import AuthUser

from domain.{{ singular_name }}.ports.storage import {{ class_prefix }}Database
from domain.{{ singular_name }}.models import (
    {{ class_prefix }},
    {{ class_prefix }}QueryParams,
    {{ class_prefix }}Update,
    New{{ class_prefix }},
)
from dataclasses import asdict
from domain.shared.models import RelatedItem


class {{ class_prefix }}DatabaseAdapter({{ class_prefix }}Database):
    def __init__(self, session: scoped_session):
        self._session = session


    def exists(self, auth_user: AuthUser, query_params: {{ class_prefix }}QueryParams) -> bool:
        query = select(func.count()).select_from({{ class_prefix }}Model).where(and_(
            {{ class_prefix }}Model.organization_id == auth_user.organization_id,
            {{ class_prefix }}Model.{{ unique_key }} == query_params.{{ unique_key }}
        )).limit(1)
        count = self._session.scalar(query)

        return count > 0

    def record_to_domain_model(
            self,
            {{ singular_name }}: {{ class_prefix }}Model,
            {%- for field in related_model_fields %}
            {% if field.hidden %}#{% endif %}{{ field.field.name | replace('_id', '') }}: {{ field.prefix }}Model,
            {%- endfor %}
    ) -> {{ class_prefix }}:
        return {{ class_prefix }}(
            id={{ singular_name }}.id,
            {%- for field in model_fields %}
            {%- if not field.foreign_key %}
            {{ field.name }}={{ singular_name }}.{{ field.name }},
            {%- elif "organization.id" == field.foreign_key %}
            organization_id=organization.id,
            {%- else %}
            {% if field.hidden %}#{% endif %}{{ field.name | replace('_id', '') }}=RelatedItem(
            {% if field.hidden %}#{% endif %}    id={{ field.name | replace('_id', '') }}.id,
            {% if field.hidden %}#{% endif %}    value={{ field.name | replace('_id', '') }}.{{ related_props[field.foreign_key]['unique_key'] }},
            {% if field.hidden %}#{% endif %}    readable={{ field.name | replace('_id', '') }}.{{ related_props[field.foreign_key]['unique_key'] }},
            {% if field.hidden %}#{% endif %}),
            {%- endif %}
            {%- endfor %}
        )

    def select_query(self, auth_user: AuthUser, query_params: Optional[{{ class_prefix }}QueryParams] = None) -> Select:
        {%- for field in related_model_fields | selectattr("repeated") %}
        {{ field.field.name | replace('_id', '') }} = alias({{ field.prefix }}Model)
        {%- endfor %}
        return (
            select(
                {{ class_prefix }}Model,
                {%- for field in related_model_fields %}
                {% if field.hidden %}#{% endif %}{% if field.repeated %}{{ field.field.name | replace('_id', '') }}{% else %}{{ field.prefix }}Model{% endif %},
                {%- endfor %}
            )
            .select_from({{ class_prefix }}Model)
            {%- for field in related_model_fields %}
            {% if field.hidden %}#{% endif %}.join({% if field.repeated %}{{ field.field.name | replace('_id', '') }}{% else %}{{ field.prefix }}Model{% endif %}, {{ class_prefix }}Model.{{ field.field.name }} == {{ field.prefix }}Model.id)
            {%- endfor %}
            .where({{ class_prefix }}Model.organization_id == auth_user.organization_id)
        )

    def query(self, auth_user: AuthUser, query_params: {{ class_prefix }}QueryParams):
        query = self.select_query(auth_user, query_params)
        {{ plural_name }} = self._session.execute(query)


        return [
            self.record_to_domain_model(*row)
            for row in {{ plural_name }}
        ]

    def get_by_id(self, auth_user: AuthUser, {{ singular_name }}_id: int):
        query = self.select_query(auth_user).where(
            {{ class_prefix }}Model.id == {{ singular_name }}_id
        )
        result = self._session.execute(query).first()
        if result is None:
            return None

        return self.record_to_domain_model(*result)

    def create(self, auth_user: AuthUser, {{ singular_name }}: New{{ class_prefix }}):
        new_{{ singular_name }} = {{ class_prefix }}Model(
            {%- for field in model_fields %}
            {%- if not field.foreign_key %}
            {{ field.name }}={{ singular_name }}.{{ field.name }},
            {%- elif "organization.id" == field.foreign_key %}
            organization_id=auth_user.organization_id,
            {%- else %}
            {% if field.hidden %}#{% endif %}{{ field.name }}={{ singular_name }}.{{ field.name | replace('_id', '') }}.id,
            {%- endif %}
            {%- endfor %}
        )
        self._session.add(new_{{ singular_name }})
        self._session.commit()

        return new_{{ singular_name }}.id

    def {{ singular_name }}_to_dict(self, auth_user: AuthUser, {{ singular_name }}: New{{ class_prefix }}):
        result = {
            **asdict({{ singular_name }}),
            {%- for field in related_model_fields %}
            {%- if "organization_id" == field.field.name %}
            "{{ field.field.name }}": auth_user.organization_id,
            {%- else %}
            {% if field.hidden %}#{% endif %}"{{ field.field.name }}": {{ singular_name }}.{{ field.field.name | replace('_id', '') }}.id,
            {%- endif %}
            {%- endfor %}
        }
        {%- for field in related_model_fields %}
        {%- if "organization_id" != field.field.name and '_id' in field.field.name %}
        {% if field.hidden %}#{% endif %}del result["{{ field.field.name | replace('_id', '') }}"]
        {%- endif %}
        {%- endfor %}

        return result
        
    def create_many(self, auth_user: AuthUser, {{ plural_name }}: List[New{{ class_prefix }}]):
        query = insert({{ class_prefix }}Model)#.returning({{ class_prefix }}Model.id)
        ids = self._session.execute(
            query,
            [
                self.{{ singular_name }}_to_dict(auth_user, {{ singular_name }})
                for {{ singular_name }} in {{ plural_name }}
            ]
        )
        self._session.commit()

        return ids

    # Edit before usage
    def update_by_id(self, auth_user: AuthUser, {{ singular_name }}_id: int, {{ singular_name }}_updates: {{ class_prefix }}Update):
        query = (
            update({{ class_prefix }}Model)
            .where(and_(
                {{ class_prefix }}Model.id == {{ singular_name }}_id,
                {{ class_prefix }}Model.organization_id == auth_user.organization_id
            ))
            .values(self.{{ singular_name }}_to_dict(auth_user, {{ singular_name }}_updates))
            #.returning({{ class_prefix }}Model.id)
        )
        update_cursor = self._session.execute(query)
        if update_cursor is not None:
            self._session.commit()
            return {{ singular_name }}_id

        return -1

    def delete_by_id(self, auth_user: AuthUser, {{ singular_name }}_id: int):
        query = delete({{ class_prefix }}Model).where(
            and_(
                {{ class_prefix }}Model.id == {{ singular_name }}_id,
                {{ class_predix }}Model.organization_id == auth_user.organization_id,
            )
        )#.returning({{ class_prefix }}Model.id)
        delete_cursor = self._session.execute(query)
        print("Deleted ID", delete_cursor)
        if delete_cursor is not None:
            self._session.commit()
            return {{ singular_name }}_id

        return -1
