#!/usr/bin/env python3

from typing import List

from domain.auth.models import AuthUser
from domain.{{ singular_name }}.models import (
    {{ class_prefix }},
    {{ class_prefix }}QueryParams,
    New{{ class_prefix }},
    {{ class_prefix }}Update,
)
from domain.{{ singular_name }}.ports.storage import {{ class_prefix }}Database


class {{ class_prefix }}Facade:
    def __init__(self, db: {{ class_prefix }}Database):
        self._db = db

    def get_{{ plural_name }}(self, auth_user: AuthUser, query_params: {{ class_prefix }}QueryParams):
        return self._db.query(auth_user, query_params)

    def get_{{ singular_name }}(self, auth_user: AuthUser, {{ singular_name }}_id: int):
        return self._db.get_by_id(auth_user, {{ singular_name }}_id)

    def create_{{ singular_name }}(self, auth_user: AuthUser, {{ singular_name }}: New{{ class_prefix }}):
        if self._db.exists(auth_user, {{ class_prefix }}QueryParams({{ unique_key }} = {{ singular_name }}.{{ unique_key }})):
            return -1
        return self._db.create(auth_user, {{ singular_name }})

    def update_{{ singular_name }}(self, auth_user: AuthUser, {{ singular_name }}_id: int, {{ singular_name }}: {{ class_prefix }}Update):
        return self._db.update_by_id(auth_user, {{ singular_name }}_id, {{ singular_name }})

    def delete_{{ singular_name }}(self, auth_user: AuthUser, {{ singular_name }}_id: int):
        return self._db.delete_by_id(auth_user, {{ singular_name }}_id)

    def import_{{ plural_name }}(self, auth_user: AuthUser, {{ plural_name }}: List[New{{ class_prefix }}]):
        return self._db.create_many(auth_user, {{ plural_name }})

        
        


{{ class_prefix }}FacadeT = {{ class_prefix }}Facade
