from datetime import datetime, date
from typing import Optional

from dataclasses import dataclass, field
from dataclasses_json import dataclass_json, config

from domain.shared.models import (
    RelatedItem,
{%- for field in model_fields | selectattr("is_enum") %}
    {{ field.type_ }},
{%- endfor %}
)
from domain.shared.mixins import PartialMixin


@dataclass_json
@dataclass(frozen=True)
class New{{ class_prefix }}:
    {% for field in model_fields | rejectattr("name", "==", "organization_id") -%}
    {% if field.hidden %}#{% endif %}{{ field.name | replace('_id', '') }}: {{ field.type_ }}{% if field.value %} = {{ field.value}}{% endif %}
    {% endfor %}

{{ class_prefix }}Update = New{{ class_prefix }}
    
@dataclass_json
@dataclass(frozen=True)
class {{ class_prefix }}(New{{ class_prefix }}):
    organization_id: Optional[int] = None
    id: Optional[int] = None

    
@dataclass_json
@dataclass(frozen=True)
class {{ class_prefix }}Partial(PartialMixin):
    {% for field in model_fields -%}
    {% if field.hidden %}#{% endif %}{{ field.name }}: Optional[{{ field.type_ }}] = {{ field.null_value}}
    {% endfor %}


@dataclass(frozen=True)
class {{ class_prefix }}QueryParams:
    id: Optional[int] = None
    {% for field in model_fields -%}
    {% if field.hidden %}#{% endif %}{{ field.name }}: Optional[{{ field.type_ }}] = {{ field.null_value}}
    {% endfor -%}
