from typing import Union

from injector import Module, provider, singleton
from sqlalchemy.orm import scoped_session

from domain.{{ singular_name }}.ports.storage import {{ class_prefix }}Database
from domain.{{ singular_name }}.facade import {{ class_prefix }}FacadeT, {{ class_prefix }}Facade
from domain.{{ singular_name }}.infrastructure.database import {{ class_prefix }}DatabaseAdapter


class {{ class_prefix }}Module(Module):
    @provider
    @singleton
    def {{ singular_name }}_db(
        self,
        db: scoped_session,
    ) -> {{ class_prefix }}Database:
        return {{ class_prefix }}DatabaseAdapter(db)

    @provider
    @singleton
    def {{ singular_name }}_facade(self, {{ singular_name }}_db: {{ class_prefix }}Database) -> {{ class_prefix }}FacadeT:
        return {{ class_prefix }}Facade({{ singular_name }}_db)
