#!/usr/bin/env python3

from typing import Protocol, List, Optional
from abc import abstractmethod

from domain.auth.models import AuthUser

from domain.{{ singular_name }}.models import (
    {{ class_prefix }},
    {{ class_prefix }}QueryParams,
    {{ class_prefix }}Update,
    New{{ class_prefix }},
)


class {{ class_prefix }}Database(Protocol):
    @abstractmethod
    def query(self, auth_user: AuthUser, query_params: {{ class_prefix }}QueryParams) -> List[{{ class_prefix }}]:
        raise NotImplementedError

    @abstractmethod
    def get_by_id(self, auth_user: AuthUser, {{ singular_name }}_id: int) -> Optional[{{ class_prefix }}]:
        raise NotImplementedError

    @abstractmethod
    def exists(self, auth_user: AuthUser, query_params: {{ class_prefix }}QueryParams) -> bool:
        raise NotImplementedError
    
    @abstractmethod
    def create(self, auth_user: AuthUser, {{ singular_name }}: New{{ class_prefix }}) -> int:
        raise NotImplementedError

    @abstractmethod
    def create_many(self, auth_user: AuthUser, {{ plural_name }}: List[New{{ class_prefix }}]) -> List[int]:
        raise NotImplementedError
    
    @abstractmethod
    def update_by_id(self, auth_user: AuthUser, {{ singular_name }}_id: int, {{ singular_name }}_updates: {{ class_prefix }}Update) -> int:
        raise NotImplementedError

    @abstractmethod
    def delete_by_id(self, auth_user: AuthUser, {{ singular_name }}_id: int) -> int:
        raise NotImplementedError
