#!/usr/bin/env python3

from flask import Blueprint, Flask, Request, jsonify
from sqlalchemy.orm import scoped_session

from application.utils.request import AppContext
from domain.{{ singular_name }}.models import (
    {{ class_prefix }},
    {{ class_prefix }}QueryParams,
    {{ class_prefix }}Update,
    New{{ class_prefix }}
)
from application.utils.middlewares import login_required, parse_request
from domain.{{ singular_name }}.facade import {{ class_prefix }}FacadeT
from application.utils.response import error_response


{{ singular_name }}_blueprint = Blueprint("{{ plural_name }}", __name__)


@{{ singular_name }}_blueprint.route("")
@login_required()
def get_all(
    request: Request,
    ctx: AppContext,
):
    query_params = {{ class_prefix }}QueryParams()
    {{ plural_name }} = ctx.{{ singular_name }}_facade.get_{{ plural_name }}(ctx.auth_user, query_params)

    return jsonify([{{ singular_name }}.to_dict() for {{ singular_name }} in {{ plural_name }}])


@{{ singular_name }}_blueprint.route("", methods=["POST"])
@login_required()
@parse_request(New{{ class_prefix }}, "{{ singular_name }}")
def create(
    {{ singular_name }},
    request: Request,
    ctx: AppContext,
):
    {{ singular_name }}_id = ctx.{{ singular_name }}_facade.create_{{ singular_name }}(ctx.auth_user, {{ singular_name }})

    return jsonify({{ singular_name }}_id)


@{{ singular_name }}_blueprint.route("/<int:{{ singular_name }}_id>")
@login_required()
def get_one(
    {{ singular_name }}_id,
    request: Request,
    ctx: AppContext,
):
    {{ singular_name }} = ctx.{{ singular_name }}_facade.get_{{ singular_name }}(ctx.auth_user, {{ singular_name }}_id)

    return jsonify({{ singular_name }}.to_dict()) if {{ singular_name }} else error_response(404, "{{ class_prefix }} does not exist", [])


@{{ singular_name }}_blueprint.route("/<int:{{ singular_name }}_id>", methods=["PUT"])
@login_required()
@parse_request({{ class_prefix }}Update, "{{ singular_name }}")
def update(
    {{ singular_name }}_id,
    {{ singular_name }},
    request: Request,
    ctx: AppContext,
):
    {{ singular_name }}_id = ctx.{{ singular_name }}_facade.update_{{ singular_name }}(ctx.auth_user, {{ singular_name }}_id, {{ singular_name }})

    return jsonify({{ singular_name }}_id)


@{{ singular_name }}_blueprint.route("/<int:{{ singular_name }}_id>", methods=["DELETE"])
@login_required()
def delete_(
    {{ singular_name }}_id,
    request: Request,
    ctx: AppContext,
):
    {{ singular_name }} = ctx.{{ singular_name }}_facade.delete_{{ singular_name }}(ctx.auth_user, {{ singular_name }}_id)

    return jsonify({{ singular_name }}) if {{ singular_name }} else error_response(404, "{{ class_prefix }} does not exist", [])


@{{ singular_name }}_blueprint.route("/import", methods=["POST"])
@login_required()
def import_{{ plural_name }}(
    request: Request,
    ctx: AppContext,
):
    {{ plural_name }} = []
    {{ singular_name }}_ids = ctx.{{ singular_name }}_facade.create_{{ plural_name }}(ctx.auth_user, {{ plural_name }})

    return jsonify({{ singular_name }}_ids)
