$blue-1-rgba: rgba(28, 68, 97, var(--laatu-bg-opacity));
$blue-2-rgba: rgba(135, 190, 230, var(--laatu-bg-opacity));
$blue-3-rgba: rgba(65, 158, 224, var(--laatu-bg-opacity));
$blue-4-rgba: rgba(57, 80, 97, var(--laatu-bg-opacity));
$blue-5-rgba: rgba(50, 122, 173, var(--laatu-bg-opacity));

$cyan-1-rgba: rgba(42, 88, 112, var(--laatu-bg-opacity));
$cyan-2-rgba: rgba(143, 221, 242, var(--laatu-bg-opacity));
$cyan-3-rgba: rgba(72, 186, 245, var(--laatu-bg-opacity));
$cyan-4-rgba: rgba(66, 102, 112, var(--laatu-bg-opacity));
$cyan-5-rgba: rgba(66, 174, 189, var(--laatu-bg-opacity));

:root {
  --laatu-bg-opacity: 1;
  --laatu-blue1: rgba(28, 68, 97, var(--laatu-bg-opacity));
  --laatu-blue2: rgba(135, 190, 230, var(--laatu-bg-opacity));
  --laatu-blue3: rgba(65, 158, 224, var(--laatu-bg-opacity));
  --laatu-blue4: rgba(57, 80, 97, var(--laatu-bg-opacity));
  --laatu-blue5: rgba(50, 122, 173, var(--laatu-bg-opacity));
  --laatu-cyan1: rgba(42, 88, 112, var(--laatu-bg-opacity));
  --laatu-cyan2: rgba(143, 221, 242, var(--laatu-bg-opacity));
  --laatu-cyan3: rgba(72, 186, 245, var(--laatu-bg-opacity));
  --laatu-cyan4: rgba(66, 102, 112, var(--laatu-bg-opacity));
  --laatu-cyan5: rgba(66, 174, 189, var(--laatu-bg-opacity));
}

@for $i from 1 through 10 {
  .laatu-opacity-#{$i} {
    --laatu-bg-opacity: #{$i / 10};
  }
}

@mixin color-theme($name, $_1, $_2, $_3, $_4, $_5) {
  .laatu-#{$name}-theme {
    &.laatu-bg-1 {
      background-color: $_1;
    }
    &.laatu-bg-2 {
      background-color: $_2;
    }
    &.laatu-bg-3 {
      background-color: $_3;
    }
    &.laatu-bg-4 {
      background-color: $_4;
    }
    &.laatu-bg-5 {
      background-color: $_5;
    }
    &.laatu-txt-1 {
      color: $_1;
    }
    &.laatu-txt-2 {
      color: $_2;
    }
    &.laatu-txt-3 {
      color: $_3;
    }
    &.laatu-txt-4 {
      color: $_4;
    }
    &.laatu-txt-5 {
      color: $_5;
    }
    .laatu-bg-1 {
      background-color: $_1;
    }
    .laatu-bg-2 {
      background-color: $_2;
    }
    .laatu-bg-3 {
      background-color: $_3;
    }
    .laatu-bg-4 {
      background-color: $_4;
    }
    .laatu-bg-5 {
      background-color: $_5;
    }
    .laatu-txt-1 {
      color: $_1;
    }
    .laatu-txt-2 {
      color: $_2;
    }
    .laatu-txt-3 {
      color: $_3;
    }
    .laatu-txt-4 {
      color: $_4;
    }
    .laatu-txt-5 {
      color: $_5;
    }
  }
}

@include color-theme(
  "blue",
  $blue-1-rgba,
  $blue-2-rgba,
  $blue-3-rgba,
  $blue-4-rgba,
  $blue-5-rgba
);
@include color-theme(
  "cyan",
  $cyan-1-rgba,
  $cyan-2-rgba,
  $cyan-3-rgba,
  $cyan-4-rgba,
  $cyan-5-rgba
);
