.formContainer {
    background-color: #fff;
    border-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 0.375rem;

    @apply max-w-screen-sm;
}

.formWrapper {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.authForm {
    @apply md:w-11/12;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 90%;
}

.submitButtonWrapper {
    display: flex;
    flex-direction: row-reverse;

    > button {
        padding: 10px;
        border-radius: 0.375rem;
    }
}

.logoDescription {

}
