.formInputWrapper {
    // margin: 2px auto;
}

@mixin border-bottom-only () {
    border-top: none;
    border-left: none;
    border-right: none;
}

.formInput {
    border-width: 1px;
    padding: 0.5rem 0.75rem;
    width: 100%;
    appearance: none;

    @include border-bottom-only();
}
